.header {
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 72px;

    &__logo {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__user {
        display: flex;
        align-items: center;
    }
}